.footer {
    width: 100%;
    height: 75px;
    background-color: $color1;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copyright contacto redes";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .copyright {
        grid-area: copyright;
    }
    .contacto {
        grid-area: contacto;
    }
    .redes {
        grid-area: redes;
    }
}


